/*Global Declarations*/

:root {
    --font: "Poppins", sans-serif;
    --bg: #101b20;
    --bg-2: #00d1cc;
    --color-font1: #E7B299;
    --color-font2: #101820;
    --color-font3: #c1c6c8;
    --button-bg: #c1c6c8;
    --card-border: 1px solid #00d1cc;
    --footer-color: #ffffff;
    --normal-padding: 2rem;
    --hover-1: #FCD083;
    --hover-2: #B2B4FA;
    --hover-3: #00d1cc;
    --hover-4: #e02a2a;
    --hover-5: #E7B299;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: var(--bg);
}

#root {
    font-family: var(--font);
    font-weight: 400;
    font-style: normal;
    display: grid;
    grid-template-columns: 5fr;
    grid-template-areas:
        'aside'
        'header'
        'article'
        'figure'
        'section'
        'footer'
    ;
    color: white;
}

/*Lateral menu*/
aside {
    grid-area: aside;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    color: var(--color-font1);
}

aside ul {
    list-style: none;
    display: flex;
    padding: 0.5rem;
    gap: 1rem;

}

aside ul a {
    text-decoration: none;
    color: var(--color-font1);
}

/*Principal Image*/
header {
    grid-area: header;
    height: 100vh;
}

.image {
    height: 100%;
    width: 100%;
    background: url('../img/header-mobile.png');
    background-position: center;
    background-size: cover;
}


/*About Us Section*/
article {
    grid-area: article;
    display: flex;
    align-items: center;
    padding: var(--normal-padding);
    height: 100vh;
    text-align: justify;

}

article h1 {
    font-weight: 300;

}

article p {
    font-weight: 200;
    margin-top: 1rem;
}

.article-icons {
    display: flex;
    gap: 2rem;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.article-icons div i {
    display: flex;
    justify-content: center;
}

/*Figure Section (Img)*/
figure {
    grid-area: figure;
    width: 100%;
    height: 78vh;
}

.image2 {
    height: 900px;
    width: 100%;
    background: url('../img/back.jpg');
    background-position: 40%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/*Product Section (Card Section)*/
section {
    grid-area: section;
    min-height: 100vh;
    padding: var(--normal-padding);
    display: grid;
    grid-template-columns: 5fr;
    row-gap: 2rem;
}

section h2 {
    margin-top: 2rem;
    width: 100%;
}

#card {
    display: grid;
    justify-items: center;
}

.card {
    font-weight: 300;
    height: 500px;
    width: 80%;
    border: var(--card-border);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    box-shadow: 0 1px 10px rgb(0, 209, 204), 0 1px 2px rgb(0, 209, 204);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    /* filter:grayscale(100%); */
    margin-top: 2rem;
}

.card:hover {
    box-shadow: 0 14px 40px rgb(255, 255, 255), 0 10px 10px rgba(255, 255, 255, 0.22);
}

.card .card-img {
    width: 100%;
    height: 80%;
    background: url('../img/product1.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.card .card-img2 {
    width: 100%;
    height: 80%;
    background: url('../img/product2.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.card .card-img3 {
    width: 100%;
    height: 80%;
    background: url('../img/product3.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.card .card-img4 {
    width: 100%;
    height: 80%;
    background: url('../img/product4.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.card .card-img5 {
    width: 100%;
    height: 80%;
    background: url('../img/product5.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.card .card-img6 {
    width: 100%;
    height: 80%;
    background: url('../img/product6.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}


.card .card-title {
    font-weight: 200;
    font-size: 1.5rem;
}

.card .card-price p {
    font-size: 1.3rem;
}

.card-button {
    width: 92%;
}

.button {
    background: var(--button-bg);
    border: none;
    color: var(--color-font2);
    padding: 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    font-weight: 600;
    border-radius: 30px;
}

.button:hover {
    background: var(--bg-2);
    color: var(--color-font3);
}

/*FOOTER SECTION*/
footer {
    padding: var(--normal-padding);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color: var(--color-font1);
}

footer:hover {
    color: var(--footer-color);
}

.footer-text {
    font-size: 1.5rem;
}

.footer-text:hover {
    color: var(--hover-1);
}

.hover1:hover {
    color: var(--hover-2);
}

.hover2:hover {
    color: var(--hover-3);
}

.hover3:hover {
    color: var(--hover-4);
}

footer div ul {
    list-style: none;
    padding-left: var(--normal-padding);
}

.find-us {
    display: flex;
    align-items: center;
    padding: var(--normal-padding);
}

.rights {
    display: flex;
    align-items: center;
}

.rights:hover {
    color: var(--hover-5);
}