/*Global Declarations*/

:root {
    --font: "Poppins", sans-serif;
    --bg: #101b20;
    --color-font1: #E7B299;
    --color-font2: #101820;
    --normal-padding: 2rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: var(--bg);
}

#root {
    font-family: var(--font);
    font-weight: 400;
    font-style: normal;
    display: grid;
    grid-template-columns: auto;
    grid-template-areas:
        'aside'
        'header'
        'article'
        'figure'
        'section'
        'footer'
    ;
    color: white;
}

/*Lateral menu*/
aside {
    grid-area: aside;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    color: var(--color-font1);
}

aside ul {
    list-style: none;
    display: flex;
    padding: 0.5rem;
    gap: 1rem;

}

aside ul a {
    text-decoration: none;
    color: var(--color-font1);
}

/*Principal Image*/
header {
    grid-area: header;
    height: 100vh;
}

.image {
    height: 100%;
    width: 100%;
    background: url('../img/header-mobile.png');
    background-position: center;
    background-size: cover;
}


/*About Us Section*/
article {
    grid-area: article;
    display: flex;
    align-items: center;
    padding: var(--normal-padding);
    height: 100vh;
    text-align: justify;

}

article h1 {
    font-weight: 300;

}

article p {
    font-weight: 200;
    margin-top: 1rem;
}

.article-icons {
    display: flex;
    gap: 2rem;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.article-icons div i {
    display: flex;
    justify-content: center;
}

/*Figure Section (Img)*/
figure {
    grid-area: figure;
    width: 100%;
    height: 78vh;
}

.image2 {
    height: 900px;
    width: 100%;
    background: url('../img/back.jpg');
    background-position: 40%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/*Product Section (Card Section)*/
section {
    grid-area: section;
    min-height: 100vh;
    padding: var(--normal-padding);
    display: grid;
    align-items: center;
    justify-items: center;
}

.card {
    font-weight: 300;
    height: 500px;
    width: 80%;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card .card-img {
    width: 100%;
    height: 80%;
    background: url('../img/product1.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.card .card-title {
    font-weight: 200;
    font-size: 1.5rem;
}

.card .card-price p {
    font-size: 1.3rem;
}

.card-button {
    width: 100%;
}

.button {
    background: #c1c6c8;
    border: none;
    color: var(--color-font2);
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;    
    width: 100%;
    font-weight: 600;
}

